server {
    listen 80;
    server_name mudpi mudpi.lan;

    if ($host != "mudpi.lan") {
        return 301 http://mudpi.lan/;
    }

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:5000;
    }
}
