[Unit]
Description=flask
After=syslog.target network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/robot
ExecStart=/home/pi/venv/bin/flask run --host=127.0.0.1 --port=5000
Restart=on-abort

[Install]
WantedBy=multi-user.target
