{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
    .col-centered{
        float: none;
        margin: 0 auto;
    }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if unattended_mode %} 
    <script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>

    <script type="text/javascript">
    // Page load code
    $(document).ready(function() {
        refresh_song_list();
    });
    </script>
    {% endif %}
{% endblock %}

{% block app_content %}


<h1>R.O.B.O.T.</h1>
<div class="row">
    <div class="col">
        <div class="alert alert-primary hidden" id="alerty" role="alert">
              ...
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


{% if unattended_mode %}
<div class="row">
<h2>Select a song to play!</h2>
</div>

<div class="row">
<div class="col-sm-6">
    <div id="song_list">
        <ul class="list-group">
    </div>
</div>
</div>
{% else %}
<div class="row">
<h2>Please see the docent to play the R.O.B.O.T.</h2>
</div>
{% endif %}

{% endblock %}

